*Makefile

*.obj
*.o
*.Po
*.in
*.a

config.*
aclocal.m4

autom4te*

visualc_net/.vs*
visualc_net/Debug*
visualc_net/Release*

compile
configure
depcomp
install-sh
missing
stamp-h1
